.code-ground_container{
    background-color: #ffffff;
    display: flex;
}
.code-ground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
}

.problem-area {
    flex: 1;
    border-radius: 20px;
    margin: 8px;
    overflow: auto;
}

.compiler-area {
    flex: 1;
    border-radius: 10px;
    margin: 10px;
}

.next-btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
    color: #000000;
    display: flex;
    flex: 0 0 100%;
}
