.code-ground_container{
    background-color: #1c6481;
}
.code-ground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1c6481;
}

.problem-area {
    flex: 1;
    border-radius: 20px;
    margin: 8px;
    overflow-y: auto
}

.compiler-area {
    flex: 1;
    border-radius: 10px;
    margin: 10px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 0;
}

.next-btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
    display: flex;
    flex: 1 1;
    margin-right: 10px;
}

.prev-btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
    display: flex;
    flex: 1 1;
    margin-right: 10px;
}
