.compiler-area-container {
    padding: 16px;
    overflow-y: auto;
    background-color: #1e1e1e;
    border-radius: 20px;
}

.code-input {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    height: 400px;
    width: 80%;
}
