.home-contents{
    display: block;
    width: 100%;
    padding: 0px 0px;
    float: left;
    margin-bottom: 100px;
}

.home-container_custom{
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: ". .";
    grid-template-rows: auto;
    position: relative;
    z-index: 1;
    width: 100%;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}
.featured-courses{
display: flex;
flex-direction: column;
width: 40%;
/* margin-left: 40px; */
}

.banner-text_parent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.featured-courses_banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    max-width: 520px;
}
.home-container_promo{
font-size: 5.00rem;
font-weight: normal;
letter-spacing: 0.00rem;
line-height: 1.55;
text-transform: none;
width: 100%;
position: relative;
color: #ffffff;
}

.banner-text{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    color: #FFFFFF;
    padding-bottom: 25px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.banner-text_para{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-bottom: 40px;
    margin: 0px !important;
}

.home-diagram{
    height: 500px;
    display: flex;
    justify-content: center;
}

.home-diagram_image{
    height: 80%;
    display: flex;
    align-self: center;
    width: 100%;
}

.custom-sec_two.home-container_custom{
    /* padding-top: 0px; */
}
.custom-sec_banner.featured-courses_banner{
    justify-content: unset;
    padding-right: 100px;
    padding-top: 50px;
}