
.readonly-output-area{
    background-color:#1e1e1e;
    border-radius: 20px;
    color: #ffffff;
    -webkit-text-fill-color:#ffffff;
}
.outputarea-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.readonly-output-area .css-7209ej-MuiInputBase-input-MuiFilledInput-input.Mui-disabled{
    -webkit-text-fill-color:#7f7b7b;
}
.readonly-output-area .css-10ukbsc-MuiInputBase-root-MuiFilledInput-root.Mui-disabled{
    background: transparent;
}