.signin-header{
    font-family: 'Gilroy-Bold';
    font-size: 30px;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.signin-title.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    position: relative;
    font-weight: 600;
}

.signin-close_btn.css-i4bv87-MuiSvgIcon-root{
    position: absolute;
    right: 0;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    opacity: 0.7;
}

.signin-form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signin-label.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-bottom: .5rem;
    align-self: flex-start;
    margin-top: .5rem;
    font-weight: 600;
}

.signin-input_email .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height: -webkit-fill-available
}

.signin-input{
    border: 1px solid #000000 !important;
    border-radius: 4px;
    background: transparent;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #434857;
    border-radius: .25rem;
    align-self: flex-start;
    width: 100%;
    height: 30px;
}

.signin-input_email .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 4px;
    background: transparent;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}

.signin-input_container .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    height: 36px;
}

.signin-input_pword .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 4px;
    background: transparent;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}
.dialog-checkbox_container{
    display: flex;
    margin-top: 35px;
}
.signin-checkbox{
    margin-bottom: 15px;
    margin-right: 15px;
    height: 25px;
    width: 25px;
}
.signin-confirm_btn{
    display: flex;
    margin-top: 50px;
}

.signin-dialog_container.css-1t1j96h-MuiPaper-root-MuiDialog-paper.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    align-items: center;
}
.signin-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    align-items: center;
    width: 25%;
    min-width: 400px;
    border-radius: 16px;
}

.signin-confirm_btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
margin-top: 50px;
}
.signin-checkbox_label{
    font-size: large;
    margin-top: 5px;
}
.signin-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    padding-bottom: 50px;
}